.container-recomment {
  display: grid;
  place-items: center;
}
.recomment {
  margin: 1.5rem 0;
  width: 90vw;
}
.list-recomment {
  list-style-type: none;
  text-align: center;
}
.list-recomment li {
  display: inline-block;
  padding: 10px 30px;
  background-color: rgba(211, 211, 211, 0.3);
  margin: 25px;
  border-radius: 50px;
}
.list-recomment li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  letter-spacing: 1px;
  padding: 5px;
  transition:all 0.5s linear;
}
@media (max-width: 1024px) {

}
@media (max-width: 900px) {
  .recomment{
    margin: 0;
  }
  .list-recomment li {
    padding: 0.5rem;
    margin: 0.5rem;
  }
  .list-recomment li a {
    font-size: 0.9rem;
  }
}
@media (max-width: 500px) {
  .list-recomment li {
    padding: 0.3rem;
    margin: 0.5rem;
  }
  .list-recomment li a {
    font-size: 0.8rem;
  }
}