.main-product {
  display: grid;
  place-items: center;
}
.product {
  width: 90vw;
}
.product h1 {
  margin: 3rem 3rem 1rem 3rem;
  font-size: 2.5rem;
}
.product hr {
  width: 30%;
  height: 3px;
  background-color: black;
  border-radius: 40px;
}
.product-item-main {
  display: grid;
  place-items: center;
}
.product-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.shopcategory-banner {
  margin-top: 2rem;
  width: 80vw;
  height: 25vh;
  object-fit:cover;
}