.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr; 
  height: 4rem;
  box-shadow: 1px 1px 5px #888;
  background-color: white;
}

.nav-logo {
  display: flex;
}

.nav-logo i {
  font-size: 2rem;
}

.nav-logo p {
  font-size: 2rem;
}

.navbar .navbar-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.navbar .navbar-list li {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
}

.navbar .navbar-list li a {
  text-decoration: none;
  color: black;
  display: grid;
  place-items: center;
  font-size: 1rem;
}
.navbar .navbar-list li a:hover {
  color: darkgray;
  transition: 0.5s;
}
.navbar .navbar-list li i {
  font-size: 1rem;
  margin: 1rem 0.3rem;
}
.nav-login-cart {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
}
.nav-login-cart button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
}
.nav-login-cart button:active {
  background-color: black;
  color: white;
}
.nav-login-cart i{
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
.nav-cart {
  display: flex;
  position: relative;
}
.nav-cart-count {
  position: absolute;
  top: -0.3rem;  
  left: 1.2rem;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  font-size: 14px;
  background-color: black;
  color: white;
}
.nav-dropdown {
  display: none;
}
@media (max-width: 1024px) {
  .nav-logo i {
    font-size: 1.8rem;
  }
  .nav-logo p {
    font-size: 1.7rem;
  }
  .navbar .navbar-list li i {
    font-size: 1.3rem;
    margin: 1rem 0.3rem;
  }
}
@media (max-width: 900px) {
  .navbar {
    padding: 0 1rem;
    grid-template-columns: 1fr 1fr;
  }
  .toggle-button {
    padding: 0 2rem;
  }
  .nav-dropdown {
    display: block;
  }
  .navbar-list {
    display: none !important;
    position: absolute;
    top: 60px;
    background-color: rgba(255, 255, 255, 0.99);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: grid;
    place-items: center;
    width: 100%;
    height: 5rem;
  }
  .navbar-list li a {
    padding: 0 4rem;
  }
  .navbar-list li i {
    display: none;
  }
  .navbar-list-toggle {
    display: grid !important ;
    place-items: center;
  }
}
@media (max-width: 500px) {
  .navbar {
    padding: 0 0.5rem;
  }
  .nav-logo i {
    font-size: 1.2rem;
  }
  
  .nav-logo p {
    font-size: 1.2rem;
  }
  .toggle-button {
    padding: 0 1rem;
  }
  .navbar-list li a {
    padding: 0 2rem;
  }
  .navbar .navbar-list li a {
    font-size: 0.8rem;
  }
  .nav-login-cart button {
    padding: 5px 10px;
    font-size: 1rem;
  }
}