.main-products {
  width: 90vw;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  margin: 0 5rem 10rem 5rem;
  border: 1px solid black;
  padding: 0.5rem;
}
.main-picture {
  display: grid;
  place-items: center;
}
.main-picture img {
  width: 20rem;
}
.small-picture {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.small-picture li img {
  width: 10rem;
  padding: 1rem;
  border: 1px solid black;
  margin: 0.5rem;
}
.right-product p{
  font-size: 1.5rem;
  padding: 1rem 0;
  font-weight: 700;
}
.right-product p span {
  font-weight: 400;
}
.right-product button {
  padding: 0.5rem 3rem;
  border: 1px solid black;
  border-radius: 30px;
  background-color: white;
}
.right-product i {
  font-size: 1.5rem;
}