.main-product {
  display: grid;
  place-items: center;
}
.product {
  width: 90vw;
}
.product h1 {
  margin: 3rem 3rem 1rem 3rem;
  font-size: 2.5rem;
}
.product hr {
  width: 30%;
  height: 3px;
  background-color: black;
  border-radius: 40px;
}
.product-item-main {
  display: grid;
  place-items: center;
}
.product-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.shopcategory-banner {
  margin-top: 1rem;
  width: 90vw;
  height: 35vh;
  object-fit:cover;
}
.shopcartgory-indexSort {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.shopcartgory-indexSort p {
  font-size: 1.5rem;
  margin: 2rem 0;
}
.shopcartgory-sort span {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  cursor: pointer;
}
.load-more button {
  margin-bottom: 3rem;
  padding: 1rem 10rem;
  border-radius: 30px;
  border: 1px solid black;
}
@media (max-width: 1024px) {

}
@media (max-width: 900px) {
  .product h1 {
    display: grid;
    place-items: center;
    font-size: 2.5rem;
  }
  .product hr {
    width: 100%;
  }
  .product-item {
    grid-template-columns: 1fr 1fr;
  }
  .shopcategory-banner {
    height: 20vh;
  }
  .shopcartgory-indexSort p {
    font-size: 1.2rem;
  }
  .shopcartgory-sort span {
    font-size: 1.2rem;
    margin: 1rem;
    padding: 0.25rem 0.5rem;
  }
}
@media (max-width: 500px) {
  .product h1 {
    display: grid;
    place-items: center;
    font-size: 2rem;
  }
  .product-item {
    grid-template-columns: 1fr 1fr;
  }
  .shopcategory-banner {
    height: 15vh;
  }
  .shopcartgory-indexSort p {
    font-size: 0.8rem;
  }
  .shopcartgory-sort span {
    font-size: 0.8rem;
    margin: 1rem;
    padding: 0.25rem 0.5rem;
  }
  .load-more button {
    margin-bottom: 3rem;
    padding: 1rem 3rem;
    border-radius: 30px;
    border: 1px solid black;
  }
}