.cartitem-container {
  display: grid;
  place-items: center;
}
.cartitem {
  width: 90vw;
  margin: 3rem 0;
}
.cartitem-main {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
}
.cartitem-main p {
  font-size: 1.2rem;
  font-weight: 700;
}
.cartitem-list {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
}
.cartitem-list img {
  width: 5vw;
}
.cartitem-list p {
  font-size: 1.2rem;
}
.cartitem-list a {
  text-decoration: none;
}
.cartitem-quantity {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.cartitem-quantity .cartitem-quantity-icon {
  margin: 0 0.2rem;
  padding: 0.2rem;
}
.cartitem-quantity .cartitem-quantity-number{
  padding: 0.5rem;
}
.cartitem-remove {
  display: grid;
  place-items: center;
  font-weight: 700;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
}

.cartitem-down-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5rem 0 0 0;
}
.cartitem-total-item {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}
.cartitem-total-item p {
  font-size: 1.2rem;
}
.cartitem-total-item .total-item {
  font-weight: 700;
}
.cartitem-promo {
  padding: 0rem 6rem;
}
.cartitem-promobox {
  padding: 2rem 0;
}
.cartitem-promobox input {
  padding: 0.5rem 1rem;
  border-radius: 50px 0 0px 50px;
  border: 1px solid black;
}
.cartitem-promobox button {
  padding: 0.5rem 1rem;
  border-radius: 0px 50px 50px 0px;
  border: 1px solid black;
}